/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fugaz+One&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*General Project Styles*/
    font-family: 'Exo 2', sans-serif;
    color: #d4af37;
}
/*General styles*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* Header */
header{
    background-color: #334367;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;justify-content: space-between;
    align-items: baseline; 
    border-bottom: 4px solid #d4af37;   
}
header a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Fugaz One', sans-serif;
    letter-spacing: 3px;
    color: #d4af37;
}
#menu{
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}
#menu > li{
    margin-bottom: 1em;
}
.active{
    border-bottom: 2px dashed #d4af37;
}
/*Navbar styles with dropdown toggle*/
nav{
    position: absolute;
    background-color: #334367;
    width: 75%;
    box-shadow: 0 2px 2px #d4af37;
    padding: 0 1rem;
    right: 0;
    display: none;
    top: 100%;
    border-bottom: 2.5px solid #d4af37;
}
/*Nav Toggle*/
#nav-toggle:checked~nav{
    display: block;
}
#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font: 2rem;
    font-size: 150%;
}
/* Main Content */
main{   
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}
/*Hero Section*/
#hero{
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    width: 100%;
    height: 800px;
    position: relative;
}

#cover-text{
    background-color: rgba(51, 67, 103, .82);
    width: 75%;
    height: 175px;
    position: absolute;
    padding: 40px 15px;
    font-size: 130%;
    border-radius:0px 40px 40px 0px;
    bottom: 350px;
}

#cover-text h4{
    font-style: italic;
}

/*WDW About*/
#wdw-about p{
  color: #334367;
  padding:25px 10px ;
  font-size: 115%;
  text-align: center;   
}

/*Competition Entry*/
#comp-entry{
    background-color: rgba(51, 67, 103, .82);
    display: flex;
    justify-content: center;
    width: max-content;
    align-items: center;
    padding: 10px 15px;   
    font-size: 130%;
    z-index: 1;
    margin-bottom: 20px;
    border-radius:0px 10px 10px 0px;    
   }

#comp-entry p{
    text-align: center;
    text-wrap: nowrap;
}   


/*Ride Guide About*/
#rg-about p{
    color: #334367;
    padding:10px 10px ;
    font-size: 110%;
    text-align: center;
    border-bottom: 2px solid #d4af37;
}

#ride-img{
    height: 300px;
    width: 300px;    
    margin: 15px 55px;
    border-radius: 50%;     
}

#ride{
    display: flex;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
}

/*Thrill Seekers*/


/*Thrill Seekers Hero Section*/
#hero-ts{
    background: url("../images/tower-of-terror.webp") no-repeat center center/cover;
    width: 100%;
    height: 500px;
    position: relative;
    
}

#cover-text-ts{
    background-color: rgba(51, 67, 103, .82);
    width: 75%;
    height: 100px;
    position: absolute;
    padding: 30px 15px;
    font-size: 130%;
    border-radius:0px 20px 20px 0px;
    bottom: 100px;
}
#ts-about p{
    color: #334367;
  padding:20px 10px;
  font-size: 115%;
  text-align: center;
}



#rides h2{    
    color: #334367;
    text-align: center;
    margin: 10px 0px;
    font-size: 180%;    
}

#rides h3{
    color: #334367;
    text-align: center;
    margin: 25px 0px;
    font-size: 160%;
}

th{
    text-align: center;
    border-bottom: 1px solid #d4af37;
  
    padding: 5px 0px;   
}
td{
    color: #334367;
    text-align: center;
    border-bottom: 1px solid #d4af37;   
    font-size: 85%;
    padding: 10px 5px;    
}

/*Family Fun Section*/
#hero-ff{
    background: url("../images/remys-epcot.webp") no-repeat center center/cover;
    width: 100%;
    height: 500px;
    position: relative;
    
}

#cover-text-ff{
    background-color: rgba(51, 67, 103, .82);
    width: 75%;
    height: 100px;
    position: absolute;
    padding: 30px 15px;
    font-size: 130%;
    border-radius:0px 20px 20px 0px;
    bottom: 100px;
}
#ff-about p{
    color: #334367;
  padding:20px 10px;
  font-size: 115%;
  text-align: center;
}

/*Competition Page*/
#hero-comp{
    background: url("../images/comp-hero.webp") no-repeat center center/cover;
    width: 100%;
    height: 175px;
    position: relative;
}
#cover-text-comp{
    background-color: rgba(51, 67, 103, .82);
    width: 55%;
    height: 45px;
    position: absolute;
    padding: 0px 15px;
    font-size: 130%;
    border-radius:0px 20px 20px 0px;
    bottom: 75px;
}

form {
    margin: 2rem;
    text-wrap: nowrap;
    color: #334367;    
}

form label,p{
    font-size: 85%;
    color: #334367;  
    margin-bottom: 5px;  
}

#button{
   color: #d4af37;
   background-color: #334367;
   padding:2.5px 7px;
   border-radius: 5px;
   margin-left: ;
}


/* Footer */
footer{
    border-top: 3px solid #d4af37;
    background-color: #334367;
    
}

#social{
    text-align: right;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social i{
    font-size: 150%;
    padding: 10%;
    color: #d4af37;
}

/*Media query: Large or landscape phones (576px and up)*/
@media  screen and (min-width:576px)
{
    table{
        margin: 0px 15%;
    }
    #cover-text-ts{
        width: 350px;
        font-size: 160%;
 
     }
     #cover-text-ff{
        width: 350px;
        font-size: 160%;
 
     }

}


/*Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    /*Header*/
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0rem;
        font-size: 75%;
        border: 0;
    }

    #menu{
        display: flex;    
    }
    #menu > li{
        padding-left: 2rem;
    }

    #menu a:hover{
        border-bottom: 3px solid #d4af37;
    }

    .nav-toggle-label{
        display: none;
    }

    #logo{
        font-size: 225%;                   
    }
    main{
        margin-top: 53.2px;
    }
    #cover-text{
        width: 450px;
        height: 175px;
        position: absolute;
        padding: 25px 15px;
        font-size: 180%;
        border-radius:0px 40px 40px 0px;
        bottom: 350px;
    }

    #cover-text h2,h3,h4{
        text-align: center;
    }

    /*WDW About*/
    #wdw-about p{        
        font-size: 115%;
        text-align: center;
        margin:0px 85px;    
    }
  /*Ride Guide About*/
    #rg-about p{        
       font-size: 115%;
        text-align: center;
        margin:0px 85px;    
    }

    #comp-entry{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 32.5%;
        border-radius: 15px;
    }

    #ride-img{
       height: 200px;
       width: 200px;
       margin: 25px;           
    }
    table{
        margin: 0px 15%;
        font-size: 120%;
    }
    #cover-text-ts{
       width: 350px;
       font-size: 160%;
       padding: 25px 45px;
    }
    #cover-text-ff{
        width: 300px;
        font-size: 160%;
        padding: 25px 45px;
     }
    
}    
/*Media query: laptops and larger (992px and up) */
@media screen and (min-width:992px) {
    #menu a:hover{
        border-bottom: 3px solid #d4af37;
        
        
    }
    #logo{
        font-size: 250%;
    }

    nav{
        font-size: 110%;
        border: 0;
        
    }
    main{
        margin-top: 62.4px;
    }
    #comp-entry{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 36.5%;
        border-radius: 15px;
    }

    #cover-text{
        width: 450px;
        height: 175px;
        position: absolute;
        padding: 25px 15px;
        font-size: 180%;
        border-radius:40px 40px 40px 40px;
        bottom: 350px;
        right:10px;
    }
    #ride-img{
        height: 300px;
        width: 300px;
        margin: 15px;           
     }

     /*WDW About*/
    #wdw-about p{        
        font-size: 150%;
        text-align: center;
        margin:0px 85px;    
    }
  /*Ride Guide About*/
    #rg-about p{        
       font-size: 150%;
        text-align: center;
        margin:0px 85px;    
    }
    #ride-img{
        height: 200px;
        width: 200px;
        margin: 25px;           
     }
    table{
        margin: 0px 15%;
    }
}    
/*Media query: Desktops and larger (1200px and up) */
@media screen and (min-width:1200px){
    #logo{
        font-size: 350%;
    }

    nav{
        font-size: 130%;
        border: 0;
    }

    main{
        margin-top: 83.51px;
    }
    #cover-text{
        width: 450px;
        height: 200px;
        position: absolute;
        padding: 20px 15px;
        font-size: 220%;
        border-radius:40px 40px 40px 40px;
        bottom: 350px;
        right:55px;
    }
    #comp-entry{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 32.5%;
        border-radius: 15px;
        font-size: 200%;
    }
    #ride-img{
        height: 400px;
        width: 400px;
        margin: 25px;           
     }

     table{
        margin: 0px 25%;
        font-size: 150%;   
        display: flex; 
        justify-content: center;
        text-wrap: wrap;    
    }
    #ts-about{
        font-size: 125%;
        margin: 0 5%;
    }
    #cover-text-ts{
        position: absolute;
        padding: 20px 15px;
        font-size: 220%;
        border-radius:40px 40px 40px 40px;
        bottom: 200px;
        right:55px;
        height: 100px;
        width: 400px;
    }
    #ff-about{
        font-size: 125%;
        margin: 0 5%;
    }
    #cover-text-ff{
        position: absolute;
        padding: 15px 45px;
        font-size: 220%;
        border-radius:20px 20px 20px 20px;
        bottom: 200px;
        right:55px;
        height: 100px;
        width: 360px;
    }
}

/*Media query: Desktops and larger (2560px and up) */
@media screen and (min-width:2560px){
    #logo{
        font-size: 450%;
    }

    nav{
        font-size: 200%;
        border: 0;
    }

    main{
        margin-top: 117.6px;
    }
    #cover-text{
        width: 600px;
        height: 400px;
        position: absolute;
        padding: 80px 15px;
        font-size: 300%;
        border-radius:40px 40px 40px 40px;
        bottom: 200px;
        right:300px;
    }
    #comp-entry{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 950px;
        border-radius: 15px;
        font-size: 250%;
    }
    #wdw-about p,#rg-about p{
        font-size: 200%;
    }
    #ride-img{
        height: 600px;
        width: 600px;
        margin: 25px;           
     }
     #cover-text-ts{
        position: absolute;
        padding: 35px 75px;
        font-size: 400%;
        border-radius:40px 40px 40px 40px;
        bottom: 200px;
        right:55px;
        height: 200px;
        width: 800px;
    }
    #ts-about{
        font-size: 250%;
        margin: 0 5%;
    }
    table{
        margin: 0px 20%;
        font-size: 300%;   
        display: flex; 
        justify-content: center;
        text-wrap: wrap;    
    }

    #rides h2{    
        font-size: 400%;    
    }
    
    #rides h3{
        font-size: 330%;
    }
    #cover-text-ff{
        position: absolute;
        padding: 30px 75px;
        font-size: 400%;
        border-radius:40px 40px 40px 40px;
        bottom: 200px;
        right:100px;
        height: 200px;
        width: 650px;
    }
    #ff-about{
        font-size: 250%;
        margin: 0 5%;
    }   
}